<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kotlin.moneyconversionapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MoneyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoneyConversionApp"
        tools:ignore="Instantiatable">

        <activity
            android:name=".ui.view.activities.splash.SplashActivity"
            android:theme="@style/Theme.App.Starting"
            android:exported="true" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 de prueba -->
        <!-- Sample AdMob app ID: ca-app-pub-8711522994433469~4563512991 este es el de prod -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${admobAppId}" />

        <receiver
            android:name=".MoneyApplication$MyNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.onesignal.NotificationReceivedAction" />
                <action android:name="com.onesignal.NotificationOpenedAction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.kotlin.moneyconversionapp.ui.view.activities.MainActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>